<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.newhelp.dao.LogDao">
	<select id="list" resultType="com.uestc.newhelp.entity.Log">
		SELECT	log_id,teacher_id,ip,operate_time,content,result,message 
		FROM log_
		ORDER BY operate_time DESC
	</select>
	
	<select id="search" resultType="com.uestc.newhelp.entity.Log">
		SELECT	log_id,teacher_id,ip,operate_time,content,result,message 
		FROM log_
		<where>
			<if test="log.logId!=null">
				AND log_id=#{log.logId}
			</if>
			<if test="log.teacherId!=null">
				AND teacher_id LIKE CONCAT('%',#{log.teacherId},'%')
			</if>
			<if test="log.ip!=null">
				AND ip LIKE CONCAT('%',#{log.ip},'%')
			</if>
			<if test="log.content!=null">
				AND content LIKE CONCAT('%',{log.content},'%')
			</if>
			<if test="log.result!=null">
				AND result LIKE CONCAT('%',#{log.result},'%')
			</if>
		</where>
		ORDER BY operate_time DESC
	</select>
	
	<delete id="delete">
		DELETE FROM log_
		WHERE log_id=#{logId}
	</delete>
	
	<insert id="add">
		INSERT log_ 
		(teacher_id,ip,operate_time,content,result,message)
		VALUES
		(#{log.teacherId},#{log.ip},#{log.operateTime},#{log.content},#{log.result},#{log.message})
	</insert>
</mapper>