<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <!-- 配置字符集过滤器 -->
  <filter>
  	<filter-name>CharSetFilter</filter-name>
  	<filter-class>com.uestc.newhelp.filter.CharSetFilter</filter-class>
  	<init-param>
  		<param-name>charSet</param-name>
  		<param-value>UTF8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharSetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 配置跨域访过滤器 -->
  <filter>
  	<filter-name>CorsFilter</filter-name>
  	<filter-class>com.uestc.newhelp.filter.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CorsFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置Spring容器 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/spring.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 配置SpringMVC调度器 -->
  <servlet>
    <servlet-name>springDispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
    	<max-file-size>52428800</max-file-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- 配置支持Rest请求方式的过滤器 -->
  <filter>
  	<filter-name>HiddenHttpMethodFilter</filter-name>
  	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HiddenHttpMethodFilter</filter-name>
  	<url-pattern>/backend/*</url-pattern>
  </filter-mapping>
  <!-- 配置后端过滤器 拦截非登录用户和非权限用户 -->
  <filter>
  	<filter-name>BackendFilter</filter-name>
  	<filter-class>com.uestc.newhelp.filter.BackendFilter</filter-class>
  	<init-param>
  		<description>登录界面对应url</description>
  		<param-name>loginUrl</param-name>
  		<param-value>/newhelp/index.jsp</param-value>
  	</init-param>
  	<init-param>
  		<description>登录的请求映射路径</description>
  		<param-name>loginRequestMapping</param-name>
  		<param-value>/newhelp/backend/login</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>BackendFilter</filter-name>
  	<url-pattern>/backend/*</url-pattern>
  </filter-mapping>
</web-app>